/* screen - web-1920-8 */

.web-1920-8 {
  background-color: var(--white);
  height: 1654px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-8 .rectangle-57-xfbfO6 {
  background-color: #000000;
  height: 1212px;
  left: 0px;
  position: absolute;
  top: 442px;
  width: 1920px;
}

.web-1920-8 .rectangle-1-xfbfO6 {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-8 .witch3-03-xfbfO6 {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-8 .witch1-01-xfbfO6 {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-8 .hand-painted-sp-emovebg-preview-xfbfO6 {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-8 .and-they-lived-pily-ever-after-xfbfO6 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-rockwell-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 403px;
  letter-spacing: 0.00px;
  line-height: 68px;
  position: absolute;
  text-align: left;
  top: 653px;
  white-space: nowrap;
  width: auto;
}

.web-1920-8 .component-1-15-xfbfO6 {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-8 .witch2-02-1Y4R2F {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-8 .rectangle-2-1Y4R2F {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-8 .component-1-16-xfbfO6 {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-8 .witch2-02-P3dumC {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-8 .rectangle-2-P3dumC {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-8 .rectangle-3-P3dumC {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-8 .rectangle-4-P3dumC {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-8 .png-clipart-gho-emovebg-preview-P3dumC {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-8 .close-drag-the-ir-happy-ending-xfbfO6 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-rockwell-italic);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 324px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 788px;
  white-space: nowrap;
  width: auto;
}

.web-1920-8 .mask-group-8-xfbfO6 {
  background-color: transparent;
  height: 404px;
  left: 295px;
  overflow: hidden;
  position: absolute;
  top: 163px;
  width: 381px;
}

.web-1920-8 .group-52-1hRpAx {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 35px;
  position: relative;
  top: 14px;
  width: calc(100.00% - 69px);
}

.web-1920-8 .rectangle-48-mCXq7l {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-8 .rectangle-49-mCXq7l {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-8 .mask-group-7-xfbfO6 {
  background-color: transparent;
  height: 404px;
  left: 1245px;
  overflow: hidden;
  position: absolute;
  top: 176px;
  width: 381px;
}

.web-1920-8 .group-51-hHjwK9 {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 35px;
  position: relative;
  top: 14px;
  width: calc(100.00% - 69px);
}

.web-1920-8 .rectangle-44-LqxZmX {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-8 .rectangle-45-LqxZmX {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-8 .witch3-03-removebg-preview-xfbfO6 {
  background-color: transparent;
  height: 331px;
  left: 676px;
  object-fit: cover;
  position: absolute;
  top: 1257px;
  width: 333px;
}

.web-1920-8 .eb3b0358d4e66f5-emovebg-preview-xfbfO6 {
  background-color: transparent;
  height: 518px;
  left: 763px;
  object-fit: cover;
  position: absolute;
  top: 1155px;
  width: 332px;
}

.web-1920-8 .x86-869798art-h-emovebg-preview-xfbfO6 {
  background-color: transparent;
  height: 644px;
  left: 514px;
  object-fit: cover;
  position: absolute;
  top: 1023px;
  width: 162px;
}
