/* screen - web-1920-6 */

.web-1920-6 {
  background-color: var(--white);
  height: 1304px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-6 .path-1-cP7Vcs {
  background-color: transparent;
  height: 15px;
  left: 362px;
  object-fit: cover;
  position: absolute;
  top: 1055px;
  width: 1257px;
}

.web-1920-6 .rectangle-1-cP7Vcs {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-6 .witch3-03-cP7Vcs {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-6 .witch1-01-cP7Vcs {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-6 .hand-painted-sp-emovebg-preview-cP7Vcs {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-6 .component-1-11-cP7Vcs {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-6 .witch2-02-SbwZqH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-6 .rectangle-2-SbwZqH {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-6 .component-1-12-cP7Vcs {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-6 .witch2-02-y1SGEM {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-6 .rectangle-2-y1SGEM {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-6 .rectangle-3-y1SGEM {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-6 .rectangle-4-y1SGEM {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-6 .png-clipart-gho-emovebg-preview-y1SGEM {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-6 .tracey-and-her-to-the-witches-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 401px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 650px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .witch3-03-removebg-preview-cP7Vcs {
  background-color: transparent;
  height: 498px;
  left: 1436px;
  object-fit: cover;
  position: absolute;
  top: 806px;
  width: 501px;
}

.web-1920-6 .eb3b0358d4e66f5-emovebg-preview-cP7Vcs {
  background-color: transparent;
  height: 780px;
  left: 1566px;
  object-fit: cover;
  position: absolute;
  top: 652px;
  width: 500px;
}

.web-1920-6 .witch2-02-removebg-preview-cP7Vcs {
  background-color: transparent;
  height: 309px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 995px;
  width: 309px;
}

.web-1920-6 .witch1-01-removebg-preview-cP7Vcs {
  background-color: transparent;
  height: 309px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1009px;
  width: 308px;
}

.web-1920-6 .x101-1016031app-emovebg-preview-cP7Vcs {
  background-color: transparent;
  height: 211px;
  left: 1707px;
  object-fit: cover;
  position: absolute;
  top: 1025px;
  width: 211px;
}

.web-1920-6 .x101-1016031app-emovebg-preview-ftk7AB {
  background-color: transparent;
  height: 189px;
  left: 1793px;
  object-fit: cover;
  position: absolute;
  top: 859px;
  width: 189px;
}

.web-1920-6 .mask-group-6-cP7Vcs {
  background-color: transparent;
  height: 404px;
  left: 89px;
  overflow: hidden;
  position: absolute;
  top: 923px;
  width: 381px;
}

.web-1920-6 .group-50-E1KKw9 {
  background-color: transparent;
  height: 376px;
  left: 35px;
  position: relative;
  top: -376px;
  width: calc(100.00% - 69px);
}

.web-1920-6 .rectangle-41-sdOgTb {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-6 .rectangle-42-sdOgTb {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}
