/* screen - web-1920-7 */

.web-1920-7 {
  background-color: var(--white);
  height: 1304px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-7 .rectangle-1-R6nOmh {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-7 .witch3-03-R6nOmh {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-7 .witch1-01-R6nOmh {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-7 .hand-painted-sp-emovebg-preview-R6nOmh {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-7 .component-1-13-R6nOmh {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-7 .witch2-02-ujXYjZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-7 .rectangle-2-ujXYjZ {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-7 .component-1-14-R6nOmh {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-7 .witch2-02-yI7vvb {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-7 .rectangle-2-yI7vvb {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-7 .rectangle-3-yI7vvb {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-7 .rectangle-4-yI7vvb {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-7 .png-clipart-gho-emovebg-preview-yI7vvb {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-7 .tracey-and-her-to-the-witches-R6nOmh {
  background-color: transparent;
  height: auto;
  left: 401px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 650px;
  white-space: nowrap;
  width: auto;
}

.web-1920-7 .witch3-03-removebg-preview-R6nOmh {
  background-color: transparent;
  height: 498px;
  left: 1436px;
  object-fit: cover;
  position: absolute;
  top: 806px;
  width: 501px;
}

.web-1920-7 .eb3b0358d4e66f5-emovebg-preview-R6nOmh {
  background-color: transparent;
  height: 780px;
  left: 1566px;
  object-fit: cover;
  position: absolute;
  top: 652px;
  width: 500px;
}

.web-1920-7 .witch2-02-removebg-preview-R6nOmh {
  background-color: transparent;
  height: 507px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 899px;
  width: 507px;
}

.web-1920-7 .witch1-01-removebg-preview-R6nOmh {
  background-color: transparent;
  height: 507px;
  left: -95px;
  object-fit: cover;
  position: absolute;
  top: 913px;
  width: 506px;
}

.web-1920-7 .x101-1016031app-emovebg-preview-R6nOmh {
  background-color: transparent;
  height: 211px;
  left: 348px;
  object-fit: cover;
  position: absolute;
  top: 1025px;
  width: 211px;
}

.web-1920-7 .x101-1016031app-emovebg-preview-2gaR0W {
  background-color: transparent;
  height: 189px;
  left: 430px;
  object-fit: cover;
  position: absolute;
  top: 942px;
  width: 189px;
}

.web-1920-7 .mask-group-7-R6nOmh {
  background-color: transparent;
  height: 404px;
  left: 77px;
  overflow: hidden;
  position: absolute;
  top: 948px;
  width: 381px;
}

.web-1920-7 .group-51-xWXBxi {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 35px;
  position: relative;
  top: 14px;
  width: calc(100.00% - 69px);
}

.web-1920-7 .rectangle-44-MB3sDv {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-7 .rectangle-45-MB3sDv {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-7 .component-33-2-R6nOmh {
  background-color: transparent;
  cursor: pointer;
  height: 169px;
  left: 387px;
  position: absolute;
  top: 995px;
  width: 802px;
}

.web-1920-7 .group-48-Cm5mNK {
  background-color: transparent;
  height: 87px;
  position: absolute;
  right: 2px;
  top: 0px;
  width: 342px;
}

.web-1920-7 .component-86-1-TaEDGd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-7 .path-2-bejvDb {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-7 .in-theater-TaEDGd {
  background-color: transparent;
  bottom: calc(30.56% - 16px);
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: 51px;
  letter-spacing: 0.00px;
  line-height: 37px;
  position: absolute;
  right: calc(49.42% - 84px);
  text-align: left;
  white-space: nowrap;
  width: 170px;
}

.web-1920-7 .mask-group-9-R6nOmh {
  background-color: transparent;
  height: 404px;
  left: 294px;
  overflow: hidden;
  position: absolute;
  top: 166px;
  width: 381px;
}

.web-1920-7 .group-53-i7vHeM {
  background-color: transparent;
  height: 376px;
  left: 35px;
  position: relative;
  top: -376px;
  width: calc(100.00% - 69px);
}

.web-1920-7 .rectangle-51-SxSIxG {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-7 .rectangle-52-SxSIxG {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-7 .mask-group-10-R6nOmh {
  background-color: transparent;
  height: 404px;
  left: 1244px;
  overflow: hidden;
  position: absolute;
  top: 179px;
  width: 381px;
}

.web-1920-7 .group-54-1fRwzz {
  background-color: transparent;
  height: 376px;
  left: 35px;
  position: relative;
  top: -376px;
  width: calc(100.00% - 69px);
}

.web-1920-7 .rectangle-54-FEpMhT {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-7 .rectangle-55-FEpMhT {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-7 .eb3b0358d4e66f5-emovebg-preview-2gaR0W {
  background-color: transparent;
  height: 780px;
  left: 1566px;
  object-fit: cover;
  position: absolute;
  top: 652px;
  width: 500px;
}
