/* screen - web-1920-4 */

.web-1920-4 {
  background-color: var(--white);
  height: 1304px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-4 .rectangle-40-KxZxWW {
  background-color: var(--white);
  height: 136px;
  left: 97px;
  position: absolute;
  top: 982px;
  width: 136px;
}

.web-1920-4 .line-1-KxZxWW {
  background-color: transparent;
  height: 15px;
  left: 362px;
  object-fit: cover;
  position: absolute;
  top: 1055px;
  width: 1257px;
}

.web-1920-4 .rectangle-1-KxZxWW {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-4 .witch3-03-KxZxWW {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-4 .witch1-01-KxZxWW {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-4 .hand-painted-sp-emovebg-preview-KxZxWW {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-4 .component-1-7-KxZxWW {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-4 .witch2-02-QNFftg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-4 .rectangle-2-QNFftg {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-4 .component-1-8-KxZxWW {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-4 .witch2-02-J2Fl38 {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-4 .rectangle-2-J2Fl38 {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-4 .rectangle-3-J2Fl38 {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-4 .rectangle-4-J2Fl38 {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-4 .png-clipart-gho-emovebg-preview-J2Fl38 {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-4 .lacey-and-stace-man-in-the-land-KxZxWW {
  background-color: transparent;
  height: auto;
  left: 303px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 654px;
  white-space: nowrap;
  width: auto;
}

.web-1920-4 .witch3-03-removebg-preview-KxZxWW {
  background-color: transparent;
  height: 498px;
  left: 1316px;
  object-fit: cover;
  position: absolute;
  top: 806px;
  width: 501px;
}

.web-1920-4 .eb3b0358d4e66f5-emovebg-preview-KxZxWW {
  background-color: transparent;
  height: 780px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 665px;
  width: 500px;
}

.web-1920-4 .drag-to-take-him-to-his-lover-KxZxWW {
  background-color: transparent;
  height: auto;
  left: 384px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 1215px;
  white-space: nowrap;
  width: auto;
}
