/* screen - web-1920-5 */

.web-1920-5 {
  background-color: var(--white);
  height: 1304px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-5 .path-1-eqxx8P {
  background-color: transparent;
  height: 15px;
  left: 362px;
  object-fit: cover;
  position: absolute;
  top: 1055px;
  width: 1257px;
}

.web-1920-5 .rectangle-1-eqxx8P {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-5 .witch3-03-eqxx8P {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-5 .witch1-01-eqxx8P {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-5 .hand-painted-sp-emovebg-preview-eqxx8P {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-5 .component-1-9-eqxx8P {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-5 .witch2-02-xROjCK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .rectangle-2-xROjCK {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .component-1-10-eqxx8P {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-5 .witch2-02-KAsBcu {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-5 .rectangle-2-KAsBcu {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-5 .rectangle-3-KAsBcu {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-5 .rectangle-4-KAsBcu {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-5 .png-clipart-gho-emovebg-preview-KAsBcu {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-5 .traceys-evil-si-s-to-the-couple-eqxx8P {
  background-color: transparent;
  height: auto;
  left: 445px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 650px;
  white-space: nowrap;
  width: auto;
}

.web-1920-5 .witch3-03-removebg-preview-eqxx8P {
  background-color: transparent;
  height: 498px;
  left: 1316px;
  object-fit: cover;
  position: absolute;
  top: 806px;
  width: 501px;
}

.web-1920-5 .rectangle-39-eqxx8P {
  background-color: var(--white);
  height: 136px;
  left: 335px;
  position: absolute;
  top: 987px;
  width: 1101px;
}

.web-1920-5 .eb3b0358d4e66f5-emovebg-preview-eqxx8P {
  background-color: transparent;
  height: 780px;
  left: 1186px;
  object-fit: cover;
  position: absolute;
  top: 652px;
  width: 500px;
}

.web-1920-5 .witch2-02-removebg-preview-eqxx8P {
  background-color: transparent;
  height: 309px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 995px;
  width: 309px;
}

.web-1920-5 .witch1-01-removebg-preview-eqxx8P {
  background-color: transparent;
  height: 309px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1009px;
  width: 308px;
}

.web-1920-5 .x101-1016031app-emovebg-preview-eqxx8P {
  background-color: transparent;
  height: 151px;
  left: 524px;
  object-fit: cover;
  position: absolute;
  top: 1123px;
  width: 151px;
}

.web-1920-5 .x101-1016031app-emovebg-preview-aOo8om {
  background-color: transparent;
  height: 151px;
  left: 559px;
  object-fit: cover;
  position: absolute;
  top: 912px;
  width: 151px;
}
