/* screen - web-1920-3 */

.web-1920-3 {
  background-color: var(--white);
  height: 1304px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-3 .rectangle-1-3lkoUN {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-3 .witch3-03-3lkoUN {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-3 .witch1-01-3lkoUN {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-3 .hand-painted-sp-emovebg-preview-3lkoUN {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-3 .component-1-5-3lkoUN {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-3 .witch2-02-9n8JwW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-3 .rectangle-2-9n8JwW {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-3 .component-1-6-3lkoUN {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-3 .witch2-02-QQCHJY {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-3 .rectangle-2-QQCHJY {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-3 .rectangle-3-QQCHJY {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-3 .rectangle-4-QQCHJY {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-3 .png-clipart-gho-emovebg-preview-QQCHJY {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-3 .once-you-read-t-e-you-have-left-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 646px;
  white-space: nowrap;
  width: auto;
}

.web-1920-3 .rectangle-5-3lkoUN {
  background-color: var(--barossa);
  border-radius: 9px;
  height: 314px;
  left: 443px;
  position: absolute;
  top: 875px;
  width: 18px;
}

.web-1920-3 .x5-57027hanging-emovebg-preview-3lkoUN {
  background-color: transparent;
  height: 162px;
  left: 377px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 151px;
}

.web-1920-3 .group-6-3lkoUN {
  background-color: transparent;
  height: 133px;
  left: 912px;
  object-fit: cover;
  position: absolute;
  top: 854px;
  width: 161px;
}

.web-1920-3 .component-33-1-3lkoUN {
  background-color: transparent;
  cursor: pointer;
  height: 169px;
  left: 1022px;
  position: absolute;
  top: 1032px;
  width: 802px;
}

.web-1920-3 .group-48-lx88Yv {
  background-color: transparent;
  height: 87px;
  position: absolute;
  right: 2px;
  top: 0px;
  width: 342px;
}

.web-1920-3 .component-86-1-DRoBkx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-3 .path-2-Yjfofj {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-3 .in-theater-DRoBkx {
  background-color: transparent;
  bottom: calc(30.56% - 16px);
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: 51px;
  letter-spacing: 0.00px;
  line-height: 37px;
  position: absolute;
  right: calc(49.42% - 84px);
  text-align: left;
  white-space: nowrap;
  width: 170px;
}
