/* screen - web-1920-2 */

.web-1920-2 {
  background-color: var(--white);
  height: 1304px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-2 .rectangle-1-07RRWM {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-2 .witch3-03-07RRWM {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-2 .witch1-01-07RRWM {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-2 .hand-painted-sp-emovebg-preview-07RRWM {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-2 .component-1-3-07RRWM {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-2 .witch2-02-xiAOGl {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .rectangle-2-xiAOGl {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .component-1-4-07RRWM {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-2 .witch2-02-bU0neh {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-2 .rectangle-2-bU0neh {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-2 .rectangle-3-bU0neh {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-2 .rectangle-4-bU0neh {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-2 .png-clipart-gho-emovebg-preview-bU0neh {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-2 .once-you-read-t-e-you-have-left-07RRWM {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 646px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .rectangle-5-07RRWM {
  background-color: var(--barossa);
  border-radius: 9px;
  height: 314px;
  left: 443px;
  position: absolute;
  top: 875px;
  width: 18px;
}

.web-1920-2 .x5-57027hanging-emovebg-preview-07RRWM {
  background-color: transparent;
  height: 162px;
  left: 377px;
  object-fit: cover;
  position: absolute;
  top: 794px;
  width: 151px;
}

.web-1920-2 .group-6-07RRWM {
  background-color: transparent;
  height: 133px;
  left: 912px;
  object-fit: cover;
  position: absolute;
  top: 854px;
  width: 161px;
}
