/* screen - web-1920-1 */

.web-1920-1 {
  background-color: var(--white);
  height: 1304px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-1 .rectangle-1-HlzXCz {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-1 .witch3-03-HlzXCz {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-1 .witch1-01-HlzXCz {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-1 .hand-painted-sp-emovebg-preview-HlzXCz {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-1 .title-HlzXCz {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-rockwell-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 442px;
  letter-spacing: 0.00px;
  line-height: 98px;
  position: absolute;
  text-align: left;
  top: 626px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .component-1-1-HlzXCz {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-1 .witch2-02-naUyVx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .rectangle-2-naUyVx {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .component-1-2-HlzXCz {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-1 .witch2-02-qqw8U4 {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-1 .rectangle-2-qqw8U4 {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-1 .rectangle-3-qqw8U4 {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-1 .rectangle-4-qqw8U4 {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-1 .png-clipart-gho-emovebg-preview-qqw8U4 {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-1 .there-were-3-wi-ren-around-them-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 189px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 792px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .component-101-1-HlzXCz {
  background-color: transparent;
  cursor: pointer;
  height: 150px;
  left: 697px;
  position: absolute;
  top: 1041px;
  width: 563px;
}

.web-1920-1 .mask-group-5-JpFKlx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-1 .g1-bE3IYZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .rec1-2TZinG {
  background-color: #3d4c57;
  border-radius: 75px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .chat-2TZinG {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 54.00%;
  left: 43.87%;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 30.33%;
  white-space: nowrap;
  width: 22.56%;
}

.web-1920-1 .g1-PJNZLF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .rec1-lu5GuS {
  background-color: var(--barossa);
  border-radius: 75px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .read-the-story-lu5GuS {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 54.00%;
  left: 18.65%;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 30.33%;
  white-space: nowrap;
  width: 69.45%;
}

.web-1920-1 .arms-and-hands-emovebg-preview-HlzXCz {
  background-color: transparent;
  height: 710px;
  left: 632px;
  object-fit: cover;
  position: absolute;
  top: 761px;
  width: 694px;
}
