/* screen - web-1920-9 */

.web-1920-9 {
  background-color: var(--white);
  height: 1654px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-9 .rectangle-57-NZx1Eq {
  background-color: #000000;
  height: 1212px;
  left: 0px;
  position: absolute;
  top: 442px;
  width: 1920px;
}

.web-1920-9 .rectangle-1-NZx1Eq {
  background-color: var(--barossa);
  height: 442px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-9 .witch3-03-NZx1Eq {
  background-color: transparent;
  height: 346px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 347px;
}

.web-1920-9 .witch1-01-NZx1Eq {
  background-color: transparent;
  height: 352px;
  left: 1260px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-9 .hand-painted-sp-emovebg-preview-NZx1Eq {
  background-color: transparent;
  height: 320px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 260px;
}

.web-1920-9 .and-they-lived-pily-ever-after-NZx1Eq {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-rockwell-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 403px;
  letter-spacing: 0.00px;
  line-height: 68px;
  position: absolute;
  text-align: left;
  top: 653px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .component-1-17-NZx1Eq {
  background-color: transparent;
  height: 351px;
  left: 310px;
  position: absolute;
  top: 202px;
  width: 351px;
}

.web-1920-9 .witch2-02-uNguns {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-9 .rectangle-2-uNguns {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-9 .component-1-18-NZx1Eq {
  background-color: transparent;
  height: 522px;
  left: 310px;
  position: absolute;
  top: 31px;
  width: 1775px;
}

.web-1920-9 .witch2-02-7bzKts {
  background-color: transparent;
  height: calc(100.00% - 171px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-9 .rectangle-2-7bzKts {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 0px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-9 .rectangle-3-7bzKts {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 475px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-9 .rectangle-4-7bzKts {
  background-color: var(--licorice);
  height: calc(100.00% - 171px);
  left: 950px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 1424px);
}

.web-1920-9 .png-clipart-gho-emovebg-preview-7bzKts {
  background-color: transparent;
  bottom: 129px;
  height: 393px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 635px;
}

.web-1920-9 .the-end-NZx1Eq {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-rockwell-italic);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 874px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 788px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .mask-group-8-NZx1Eq {
  background-color: transparent;
  height: 404px;
  left: 295px;
  overflow: hidden;
  position: absolute;
  top: 163px;
  width: 381px;
}

.web-1920-9 .group-52-erExKJ {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 35px;
  position: relative;
  top: 14px;
  width: calc(100.00% - 69px);
}

.web-1920-9 .rectangle-48-bU5uPp {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-9 .rectangle-49-bU5uPp {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-9 .mask-group-7-NZx1Eq {
  background-color: transparent;
  height: 404px;
  left: 1245px;
  overflow: hidden;
  position: absolute;
  top: 176px;
  width: 381px;
}

.web-1920-9 .group-51-qy0v7U {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 35px;
  position: relative;
  top: 14px;
  width: calc(100.00% - 69px);
}

.web-1920-9 .rectangle-44-OUJd5d {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(45.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-9 .rectangle-45-OUJd5d {
  background-color: var(--red);
  border-radius: 31px;
  height: calc(100.00% - 359px);
  left: -56px;
  position: absolute;
  top: 179px;
  transform: rotate(-60.00deg);
  width: calc(100.00% + 112px);
}

.web-1920-9 .witch3-03-removebg-preview-NZx1Eq {
  background-color: transparent;
  height: 283px;
  left: 390px;
  object-fit: cover;
  position: absolute;
  top: 1281px;
  width: 285px;
}

.web-1920-9 .eb3b0358d4e66f5-emovebg-preview-NZx1Eq {
  background-color: transparent;
  height: 444px;
  left: 477px;
  object-fit: cover;
  position: absolute;
  top: 1192px;
  width: 285px;
}

.web-1920-9 .x86-869798art-h-emovebg-preview-NZx1Eq {
  background-color: transparent;
  height: 555px;
  left: 1148px;
  object-fit: cover;
  position: absolute;
  top: 1049px;
  width: 225px;
}

.web-1920-9 .m3-a-e-p-vwjz-v-5-lx-nf-y-dn-hq-NZx1Eq {
  background-color: transparent;
  height: 200px;
  left: 441px;
  object-fit: cover;
  position: absolute;
  top: 1223px;
  width: 320px;
}
